global
    log /dev/log local0
    log /dev/log local1 notice
    tune.ssl.default-dh-param 2048
    stats socket /var/run/haproxy.sock mode 666 level user
    maxconn 8192
    user haproxy
    group haproxy
    daemon
 
defaults
    log global
    mode tcp
    option tcpka
    option tcplog
    option dontlognull
    option redispatch
    option log-health-checks
    retries 3
    maxconn 2000
    timeout check 5s
    timeout queue 5s
    timeout connect 5s
    timeout client 50s
    timeout server 50s
    timeout tunnel 1h        # to use with WebSocket

{% for item in haproxy_services %}
listen {{ item.name }}
    bind *:{{ item.port }}{% if item.sslTerminate is defined and item.sslTerminate %} ssl crt {{ haproxy_ssl_dir }}/certs.pem no-sslv3{% endif %}

{% if item.httpRedirect is defined and item.httpRedirect %}
    mode http
    redirect scheme https
{% else %}
{% if item.httpCheck is defined %}
    option httpchk GET {{ item.httpCheck.path }}
    http-check expect status {{ item.httpCheck.status }}
{% endif %}
    default-server inter {{ haproxy_check_interval }} rise {{ haproxy_check_rise }} fall {{ haproxy_check_fall }}
{% for host in haproxy_hosts %}
    server {{ host }} {{ hostvars[host].ansible_default_ipv4.address }}:{{ item.nodePort }}{% if item.sslProxy is defined and item.sslProxy %} verify none check-ssl{% endif %}{% if item.sslTerminate is defined and item.sslTerminate %} ssl verify none{% endif %} check
{% endfor %}
{% endif %}

{% endfor %}
listen stats 
    bind *:{{ haproxy_stats_port }} ssl crt {{ haproxy_ssl_dir }}/certs.pem no-sslv3
    mode http
    option forwardfor
    stats enable
    stats uri /
