{
  "CN": "{{ ssl_org }}",
  "key": {
    "algo": "{{ ssl_key_algo }}",
    "size": {{ ssl_key_size }}
  },
  "names": [
    {
      "C": "{{ ssl_country }}",
      "L": "{{ ssl_city }} ",
      "O": "{{ ssl_org }}",
      "OU": "{{ ssl_division }}",
      "ST": "{{ ssl_state }}"
    }
  ]
}

