{
  "CN": "{{ item.cn }}",
  "hosts": [""],
  "key": {
    "algo": "{{ ssl_key_algo }}",
    "size": {{ ssl_key_size }}
  },
  "names": [
{% for org in item.org %}
    {
      "O": "{{ org }}"
    }{% if not loop.last %},{% endif %}

{% endfor %}
  ]
}
