#!/bin/bash

function deploy_k8s_community_secrets {
    if kubectl get secrets --namespace=k8s-community | grep github-oauth &> /dev/null; then
        echo "k8s.community secret already exists"
    else
        echo "Creating k8s.community secrets"
        kubectl apply -f {{ k8s_policy_dir }}/k8s-community-secrets.yaml
    fi

  echo
}

deploy_k8s_community_secrets
