---

apiVersion: v1
kind: Secret
metadata:
  name: github-oauth
  namespace: k8s-community
type: Opaque
data:
  client-id: {{ k8s_github_client_id | b64encode }}
  client-secret: {{ k8s_github_client_secret | b64encode }}
  state: {{ k8s_github_state | b64encode }}

---

apiVersion: v1
kind: Secret
metadata:
  name: k8s-community-db
  namespace: k8s-community
type: Opaque
data:
  user: {{ k8s_community_db_username | b64encode }}
  password: {{ k8s_community_db_password | b64encode }}

---

apiVersion: v1
kind: Secret
metadata:
  name: k8s-guest
  namespace: k8s-community
type: Opaque
data:
  token: {{ k8s_guest_token | b64encode }}

---

apiVersion: v1
kind: Secret
metadata:
  name: github-int-db
  namespace: k8s-community
type: Opaque
data:
  user: {{ k8s_github_integration_db_username | b64encode }}
  password: {{ k8s_github_integration_db_password | b64encode }}

---

apiVersion: v1
kind: Secret
metadata:
   name: github-integration
   namespace: k8s-community
type: Opaque
data:
  integration-id: {{ k8s_github_integration_id | b64encode }}
  integration-private-key: {{ k8s_github_integration_private_key | b64encode }}
  integration-token: {{ k8s_github_integration_token | b64encode }}

---

apiVersion: v1
kind: Secret
metadata:
  name: user-manager-k8s-access
  namespace: k8s-community
type: Opaque
data:
  token: {{ k8s_admin_token | b64encode }}

---

apiVersion: v1
kind: Secret
type: Opaque
metadata:
    name: k8s-community
    namespace: k8s-community
data:
  api-key: {{ k8s_community_token | b64encode }}

---

apiVersion: v1
kind: Secret
metadata:
  name: ui-tls-secret
  namespace: k8s-community
data:
  tls.crt: {{ k8s_community_cert | b64encode }}
  tls.key: {{ k8s_community_key | b64encode }}

---

apiVersion: v1
kind: Secret
metadata:
  name: codegen-tls-secret
  namespace: k8s-community
data:
  tls.crt: {{ k8s_codegen_cert | b64encode }}
  tls.key: {{ k8s_codegen_key | b64encode }}

